html {
  height: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: white;
  font-family: arial;
  font-size: 14px;
  color: grey;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  min-height: 100vh; }

a {
  color: white;
  text-decoration: none;
  padding-right: 0 !important;
  padding-left: 0 !important; }

header {
  position: relative;
  height: 150px;
  width: 100%; }
  header .header_top {
    background-color: #0083ca;
    height: 100%;
    width: 100%;
    color: white;
    text-align: -webkit-center;
    font-size: 2rem;
    line-height: 2.5rem; }
    header .header_top p {
      position: relative;
      top: 2.5rem; }
  header .menu_top {
    position: absolute;
    background-color: #02659B;
    width: 100%;
    bottom: 0; }
    header .menu_top li {
      width: calc(100%/3);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: -webkit-center; }

.conteudo {
  margin-bottom: 30px; }

section {
  margin-top: 50px;
  margin-bottom: 30px; }

.pedido {
  color: black; }
  .pedido img {
    margin: 0; }
  .pedido > div {
    padding: 10px; }
  .pedido:nth-child(odd) {
    background-color: #ccc; }
  .pedido:nth-child(even) {
    background-color: #e8e8e8; }
  .pedido .name, .pedido .price {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold; }
  .pedido .description {
    margin-top: 10px; }

h1 {
  margin: 0 0 1rem 0;
  padding: 0;
  left: -15px;
  position: relative; }

.pedidoHeader {
  background-color: #02659B;
  color: white;
  padding: 5px;
  margin-top: 10px; }

.dataPed {
  text-align: right; }

.thumbnail {
  width: 100%; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #02659B;
  color: white; }

@media only screen and (max-width: 768px) {
  header .header_top p {
    font-size: 1.5rem; }
  header .menu_top li {
    font-size: 1.1rem; }
  h1 {
    font-size: 2rem;
    margin-left: 20px; } }
